{{#areUpdatesAvailable}}
New updates available!
Latest Version: {{{version}}} (current: {{{currentVersion}}})

Description:
{{{versionDescription}}}
{{{comments}}}

Download plugin at:
{{{downloadUrl}}}
{{/areUpdatesAvailable}}
{{^areUpdatesAvailable}}
No updates available!
{{/areUpdatesAvailable}}